@import url(vars.css);

body {
  padding: 5px;
  color: var(--txt);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: var(--txt2);
  margin: 0.7em 0 0.4em;
}

h1 {
  margin: 0;
}

p {
  margin-bottom: 0.7em;
}

a {
  font-weight: bold;
}

a:hover {
  color: var(--link);
}

button {
  display: block;
  border: 1px var(--txt2) solid;
  padding: 3px;
  border-radius: 5px;
  color: var(--bg);
  background-color: var(--txt2);
}

button:hover {
  background-color: var(--bg);
  color: var(--txt2);
}

button:disabled,
button:disabled:hover {
  background-color: gray;
  color: black;
  border: 1px solid gray;
}

.center {
  text-align: center;
}

.page-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'my-name presence'
    'my-title resume';
  margin-bottom: 15px;
}

.my-title {
  font-weight: bold;
  color: var(--txt2);
  margin-bottom: 0;
  grid-area: my-title;
}

.presence {
  font-size: 2em;
  margin: auto;
  display: flex;
  gap: 5px;
}

.presence-link {
  margin-top: -5px;
  color: var(--txt);
  padding: 0;
}

.resume {
  grid-area: resume;
  font-size: 0.85em;
  text-align: center;
  border: 1px solid var(--txt);
  border-radius: 5px;
}

.resume:hover {
  border: 1px solid var(--link);
}

.techbox {
  background-color: purple;
  display: inline-block;
  padding: 1px 5px 3px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gradient-0 {
  background-color: purple;
  color: white;
}

.gradient-3 {
  background-color: rgb(224, 224, 0);
}

.gradient-1 {
  background-color: rgb(236, 75, 0);
  color: white;
}

.gradient-4 {
  background-color: rgb(75, 128, 0);
  color: white;
}

.gradient-2 {
  background-color: orange;
}
