@import url(vars.css);

@media screen {
  body {
    padding: 10px;
    background-color: var(--bg);
    color: var(--txt);
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    color: var(--two);
  }

  a:hover {
    color: white;
  }

  p {
    margin-bottom: 0.8em;
  }

  p:last-child {
    margin-bottom: 0;
  }

  hgroup {
    margin-bottom: 0.8em;
  }

  h2 {
    background-color: var(--one);
    border-radius: 2px;
    padding: 5px 10px;
  }

  body > header {
    text-align: center;
  }

  #h1-group {
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 5px;
  }

  #h1-tagline {
    font-weight: bold;
  }

  #contact-info {
    display: grid;
    grid-template-areas:
      'github linkedin resume'
      'email email email';
    width: fit-content;
    margin: auto;
    font-size: 0.95em;
    row-gap: 4px;
    column-gap: 10px;
  }

  #github {
    grid-area: github;
  }

  #linkedin {
    grid-area: linkedin;
  }

  #email {
    grid-area: email;
  }

  #resume {
    grid-area: resume;
  }

  #about-main {
    margin-bottom: 10px;
    padding-left: 5px;
  }

  h2 {
    margin: 20px 0 10px;
  }

  h3 {
    margin: 10px 0 2px;
    font-weight: normal;
  }

  .h3-inner {
    padding-left: 5px;
    padding-top: 5px;
    border-left: 2px var(--one) solid;
    border-top: 2px var(--one) solid;
  }

  #contact-info > li > a {
    width: 100%;
    display: block;
  }

  body > main > section > main {
    padding: 0 3px;
  }

  #about > main {
    display: grid;
    grid-template-areas:
      'pic stuff'
      'detail detail'
      'docs docs'
      'brain brain';
    column-gap: 6px;
  }

  #about-pic {
    grid-area: pic;
  }

  #about-stuff {
    grid-area: stuff;
  }

  #about-detail {
    grid-area: detail;
  }

  #about-docs {
    grid-area: docs;
  }

  #about-brain {
    grid-area: brain;
  }

  #technologies > main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'languages frameworks'
      'tools frameworks';
  }

  .techs-list {
    width: fit-content;
  }

  #languages {
    grid-area: languages;
  }

  #tools {
    grid-area: tools;
  }

  #frameworks {
    grid-area: frameworks;
  }

  .project-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin: 20px 0 10px;
    column-gap: 5px;
  }

  .project-header > h2 {
    margin: 0;
  }

  .project-header > a {
    background-color: var(--two);
    display: block;
    width: fit-content;
    color: var(--bg);
    font-size: 1.4em;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid var(--two);
  }

  .project-header > a:hover {
    background-color: var(--bg);
    color: var(--two);
  }

  .project > main > header {
    font-size: 0.9em;
    margin-bottom: 8px;
  }

  .project-headline {
    display: flex;
    justify-content: space-between;
  }

  .project-tech {
    font-style: italic;
    text-align: right;
  }

  .project-links {
    display: flex;
    margin: 20px auto;
    column-gap: 15px;
    width: fit-content;
  }

  #big-pic {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  body {
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
  }

  body > header {
    margin-bottom: 20px;
  }

  body > main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      'about face'
      'about tech'
      'tatterpig momo'
      'budgetme waterbnb';
  }

  #about {
    grid-area: about;
  }

  #about > main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #about > main > div {
    margin-bottom: 30px;
  }

  #technologies {
    grid-area: tech;
  }

  #tatterpig {
    grid-area: tatterpig;
  }

  #momo {
    grid-area: momo;
  }

  #budgetme {
    grid-area: budgetme;
  }

  #waterbnb {
    grid-area: waterbnb;
  }

  #about-pic {
    display: none;
  }

  #big-pic {
    grid-area: face;
    display: inline;
    border: 2px solid var(--one);
  }

  body > main > section {
    border: rgb(38, 38, 255) 1px solid;
    background-color: rgb(30, 30, 30);
  }

  .project-header {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .h3-inner {
    border-top: none;
    padding-top: 0;
    border-left: dotted 2px var(--one);
  }

  body > main > section > main {
    padding: 15px;
  }

  #about > main {
    grid-template-areas:
      'stuff stuff'
      'detail detail'
      'docs docs'
      'brain brain';
  }
}
